/*
* @Author: Administrator
* @Date:   2017-08-18 10:06:20
* @Last Modified by:   Administrator
* @Last Modified time: 2017-08-18 16:41:42
*/
.content::after {
  display: block;
  content: "";
  clear: both;
}
.content{
	clear: both;
	width:375px;
	height:400px;
	position:absolute;
	bottom:0;
	background-color: #ffffff;

}

.content p{
	clear: both;
	text-indent: 2em;
	font-size: 15px;
	color:#666666;
	width:343.2px;
	text-align: center;
}
.content a{
	color:#4990E2;
	font-size: 15px;
	float: left;
    padding-left: 21px;
}
.bottom{
	width: 80%;
  	background-color: #161718;
  	color: #D2C476;
  	font-size: 18px;
  	padding:15px 0;
	text-align: center;
	margin:20px auto;
}
