/*
* @Author: Administrator
* @Date:   2017-08-18 10:05:53
* @Last Modified by:   Administrator
* @Last Modified time: 2017-08-18 16:33:38
*/
.title{
  height:54px;
  line-height: 54px;
  padding: 0 15px;
  color:#fff;
  text-align: center;
  
}
.title div:first-child{
  width:10px;
  text-align: center;
  float:left;
}

.title div:last-child{
  width:221px;
  color: #fff;
  text-align: center;
  margin-left: 50px;
}

.head {
  text-align: center;
  border:1px solid #ccc;
  background-color: rgba(0,0,0,0.9);
  position:relative;
}
.message{
  display: flex;
  align-items: center;
  margin-left: 16px;
}
.leftM{
  width:80px;
  height:104px;
  background:  rgba(0,255,0,0.8);

}
.rightM{
  flex: 1;
  padding-left: 15px;
  text-align: left;
  line-height: 22px;
}
.timer{
  font-size: 13px;
  color:#ccc;
  
}
.detail{
  font-size: 13px;
  color:#CCCCCC;
}
.rightM .btn{
  margin-top: 5px;
}
.rightM .btn span{
  display: inline-block;
  height:18px;
  line-height: 18px;
  margin-right: 10px;
  border:1px solid #CCC;
  border-radius: 2px;
  font-size: 10px;
  color:#aaa;
  padding: 0 2px;
  text-align: center;
}
.nav{
	display: flex;
	padding: 0 20px;
	list-style: none;

}
.nav li a{
  display: inline-block;
  height: 54px;
  line-height: 54px;
  color: #888888;
  padding: 0 15px;
}
.nav li a.active {
  color: #fff;
  background: url("./assets/Triangle.png") no-repeat 37px 46px;
}
.nav-img{
	width:16px;
	height:8px;	
    position: absolute;
    margin-left: 40px;
    margin-top: 208px;
    text-align: center;
    cursor:pointer;
}