.btn {
  display: inline-block;
    border: 1px #AAAAAA solid;
    padding: 0 2px;
    color: #AAAAAA;
    font-size: 8px;
    margin-right: 10px;
    height: 18px;
    box-sizing: border-box;
    border-radius: 2px;
}
.title {
  padding-top: 30px;
  text-align: center;
  color: #fff;
}
.logo {
  height: 104px;
  width: 80px;
  background-color:#000;
  margin: 0 20px;
}
.content{
  display: flex;
  align-items: center;
}
.content_right{
  flex: 1;
}
.text{
  color: #ccc;
  font-size: 13px;
  line-height: 24px;
}
.nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 20px;
  clear: both;
}
.nav::after {
  display: block;
  content: " ";
  clear: both;
}
.nav .navLink {
  height: 45px;
  line-height: 45px;
  margin: 0 15px;
  color: #888888;
  font-size: 16px;
  text-decoration: none;
  
}
.nav .navLink.active {
  color: #fff;
  background: url("./assets/Triangle.png") no-repeat 24px 37px;
  display: block;
}
.body{
  background-color: #fff;
  padding: 15px;
}
.a_in_body {
  color: #4990E2;
  width: 70px;
  height: 21px;  
  display: block;
}
.c_in_body {
  text-indent: 2em;
  color: #666666;
  margin-top: 20px;
  line-height: 24px;
  font-size: 15px;
}
.btn_box{
  padding: 20px 15px;
}
.btn_in_body {
  width: 100%;
  background-color: #161718;
  color: #D2C476;
  font-size: 18px;
  padding: 12px 0;
  border: 1px solid #D2C476;
  border-radius: 3px;
}
.bodyInfo_list li{
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  padding: 15px;
}
.body_info_left{
  font-size: 15px;
}
.body_info_right{
  flex: 1;
  padding-left: 30px;
}
.body_info_date{
  font-size: 20px;
  padding-bottom: 5px;
}
.body_info_title{
  font-size: 17px;
}
.body_info_money{
  font-size: 14px;
  padding-top: 10px;
  color: #aaa
}
.info_label{
  display: inline-block;
  background-color: #aaa;
  color: #fff;
  width: 40px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  margin-left: 10px;
  border-radius: 2px;
}